<!-- inbuilt pipe -->
<!-- custom pipe -->

 <!-- <h2>{{name}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | titlecase}}</h2> -->
<br>
 <h3>{{newDate}}</h3>
<h3>{{newDate | date:'short'}}</h3>
<h3>{{newDate | date:'medium'}}</h3>
<h3>{{newDate | date:'long'}}</h3>
<h3>{{newDate | date:'full'}}</h3>
<h3>{{newDate | date:'shortDate'}}</h3>
<h3>{{newDate | date:'mediumDate'}}</h3>
<h3>{{newDate | date:'mediumtime'}}</h3>  

 <!-- <h2>{{mynumber}}</h2>
<h2>{{mynumber | currency}}</h2>
<h2>{{mynumber | currency:'INR'}}</h2>  -->


